dist: trusty
sudo: false

matrix:
  include:
    # ========================================================================
    # C++
    # C++98
    - os: linux
      language: cpp
      compiler: gcc
      addons:
        apt:
          packages:
            - libboost-test-dev
            - valgrind
      env: TARGET=cpp_stl SUBTARGET=_98 VARIETY=gcc4.8_linux
    - os: linux
      language: cpp
      compiler: clang
      addons:
        apt:
          packages:
            - libboost-test-dev
            - valgrind
      env: TARGET=cpp_stl SUBTARGET=_98 VARIETY=clang3.5_linux
    - os: osx
      language: cpp
      compiler: clang
      # no apt-get for osx :(
      env: TARGET=cpp_stl SUBTARGET=_98 VARIETY=clang7.3_osx
    # ------------------------------------------------------------------------
    # C++11
    - os: linux
      language: cpp
      compiler: gcc
      addons:
        apt:
          packages:
            - libboost-test-dev
            - valgrind
      env: TARGET=cpp_stl SUBTARGET=_11 VARIETY=gcc4.8_linux
    - os: linux
      language: cpp
      compiler: clang
      addons:
        apt:
          packages:
            - libboost-test-dev
            - valgrind
      env: TARGET=cpp_stl SUBTARGET=_11 VARIETY=clang3.5_linux
    - os: osx
      language: cpp
      compiler: clang
      # no apt-get for osx :(
      env: TARGET=cpp_stl SUBTARGET=_11 VARIETY=clang7.3_osx
    # ========================================================================
    # Disabled: our runtime now uses java.nio extensively => JDK7+ only
#   - os: linux
#     sudo: true
#     language: java
#     jdk: openjdk6
#     env: TARGET=java
    - os: linux
      sudo: true
      language: java
      jdk: openjdk7
      env: TARGET=java VARIETY=openjdk7
    - os: linux
      sudo: true
      language: java
      addons:
        apt:
          packages:
            - oracle-java8-installer
      jdk: oraclejdk8
      env: TARGET=java VARIETY=oraclejdk8
    # ========================================================================
    - os: linux
      language: node_js
      node_js: 4
      env: TARGET=javascript VARIETY=nodejs4
    - os: linux
      language: node_js
      node_js: 7
      env: TARGET=javascript VARIETY=nodejs7
    # ========================================================================
    - os: linux
      language: perl
      perl: 5.24
      env: TARGET=perl VARIETY=5.24
    # ========================================================================
    - os: linux
      language: php
      php: 7.1
      env: TARGET=php VARIETY=7.1
    # ========================================================================
    - os: linux
      language: python
      python: 2.7
      env: TARGET=python VARIETY=2.7
    - os: linux
      language: python
      python: 3.6
      env: TARGET=python VARIETY=3.6
    # ========================================================================
    - os: linux
      language: ruby
      rvm: 1.8.7
      env: TARGET=ruby VARIETY=1.8
    - os: linux
      language: ruby
      rvm: 1.9.3
      env: TARGET=ruby VARIETY=1.9
    - os: linux
      rvm: 2.3.1
      language: ruby
      env: TARGET=ruby VARIETY=2.3
    # ========================================================================
    - os: linux
      language: go
      go: "1.10"
      env: TARGET=go VARIETY=1.10
    # ========================================================================
    - os: linux
      language: rust
      rust: "1.31.1"
      env: TARGET=rust VARIETY=1.31.1
    # ========================================================================
    - os: linux
      language: python
      env: TARGET=lua VARIETY=5.3
    # ========================================================================
    - os: linux
      language: csharp
      mono: 5.18.0
      env: TARGET=csharp VARIETY=mono5.18.0
    # ========================================================================
    - os: linux
      language: ruby
      addons:
        apt:
          packages:
            - graphviz
      env: TARGET=graphviz VARIETY=2.36
    # ========================================================================
    - os: linux
      language: c
      cache: ccache
      cache:
        directories:
        - .cache
      env: CHANNEL=stable
      compiler: gcc
      env: TARGET=nim

install:
  - git clone https://github.com/kaitai-io/kaitai_struct_tests tests
  - ln -s ../compiled tests/compiled
  - ./prepare-$TARGET

script:
  - cd tests
  - ./ci-$TARGET$SUBTARGET
  - cd ..
  - ./publish
