version: 1.0.{build}
image: Visual Studio 2017
environment:
  BOT_SSH_KEY:
    secure: WGMJGdcs1u3hGck9fJKFutKjzJv4nJPoae3xels2mR6poQG6sofBE29xrTfW+yNC0hs2wQw+XvdU7bw29lPnoJ8JxuZA1ROFynt4QJYZfRSUJMoui8VyFWpexpzg3tCEpK9m0zxhpeguqoApZjmK/wiUgWGa1g0J5K3gHH+cfS3HpiXyTqZLn9psAUAYN6iSSDLot8UKuYowrMvG1ZGq6FCl81E+wLNHKCD6sJB8xddMrd9T5d+oRwXUEarhaBp51oc834bqxbLmkqOPwK+Am8jQNcI1kT0/v2MbyuS0yFMDfB/LroaLuUYCKXPJT2MUy1U004Avwa0aI5RaBWfQfSReBZeQRBeDmOmPJZejxqKalSnYKM3ACxfEvkv6eTA0yUjhdv8dNjJCUeA1cnvMvU9/xg4GnV9p94ADyo94C3UIXRAudgfFm44WFtThZj3fLEloh6Q8NagaKyQ+3IQuF232ZvMVvr/ZyQwTTF4xVNWQu/Q37Duo9YBjx8e/GvYNXzu7C/Ajy4Lmn4sQdkAuyl2OGEufRxpjHMxx7q6WogiWyYikvpj7SnBm2KehpZGYPucXCHWGniTrAXK4liTk7GDCdvGz7gC8WxDz0gOhPA7yLKf6UVwV78mHX+jF0F+ymMR5ZsajS5lXwKXUNUmb8XzSqVr4OT0+3ZBcGxL65JSVDebswToXRNAFXH6Iv982mAHsJddiJoWdC7p8m21tEtSSc7deWLwurAa6xFTwiDg3RQ442lRuyfuv7exqASUmPIGMz+u4L6TpBRtlIArc/VX6DA6jeQUDn1Ygf5qgzkSTpgwMCbYaTKLFd6QbTAUM0eggpiXRkhWoESxa6yZDd665YM7uNM0aBD05ZJStwq81QuDfo7FZTMY0m8cDqFUmF6a1BynqhHDfCx+jzjRE/lG+YRyTFw9iFZ5rAwyuh7ATbqgZ17P5+9mmkpqL1LrWBQIwxotKPBlGgL8OcIfq8fmjMueoIOfB88Q3ZVo2zKn79tYIYPRzThMCjRPl4OJGPGGBgIDZx7jCXpjCb4kK8aLQsYXkEEF0ttH3achIrQErmUbxb/kLA7uOJXOVXQy+HiKqh/oM57NqEq0MIM1SOaaxCl5CI/+RLAvoCDC7rcfaw78tXpbw87CzGVBWrhH2mewSVIsLosqfY37kgc/izEyJOVps+peKzrela+jXmmTjFHR3oGtwJntsR47C+m+IK6h3fkt5lQQ2DKp5shUwu16X4dWtCkd7s8cXjBuPG8qk+vDEUBNz0DbMQwxPE086flS5MRxfSfpGueemSx+5PPijm2Oxj8qWGGmt4yrkKFlDh869oFCh4hAUBB+6RudCU1NIad5ukvhfKNtqMtykr/JEKreDNIxEYvzQwRAXBCbNkk8uFCahaYsJO0bONwJ7s1QJgHwTDdMpTIWaKkbiIGBid+ZqU4px++f3vS8Cco8jePJ2ALchP43YXrtBo+98geiZVPjup1sK5aQjUxo8ukjJIaGrjtE6EvLxkH4XrX4/px7pDMIgCcCmDgDJtKgwrXeHHrRAoQTX0F2IZu9ZeQrmKuhNHZwwlr4kE348Rb7pRDcgxGHJsa3uit3Ujtb290hd9k5yA7qvRUgDGu4gx38jiP0PfZS7pIaCF+w0UQNBETMXFK9PUJhdxEhbBWtPY0Wta3yhWgqMxkc790KsVmeMet4Z0EtO2x/bx+sOdwWgnPyNJjE46qv4iLWDq09I7pr/SRwT+pLLBm3u1pgebVH5TqS27hCmYlrldAeSzXO4bTyNNr2FCtlDxIoJaOqacTeWeUrNIx+Uelvjv5tA3cy5Z7+YcBsu7mbCjNzdaTOBeOpTfnx8OeZOzn6TGt2fwPJhYIqAZWUOrBc+cGJR3PxB4G9IAKrO77Hb+fj6K7aR/q52OXEEV9n+YcAjXZUcXd6dgipJRrShzfwEzHLVa1jVA3KRWNI175SfdB5lcPNKuqgSBLCIihfcfsCBG+cOAOiNZA93wn8da70ojWZyMhlXepgDkXa+Z2jbjfDCNUxQ9AUO212xCMXx7zHjcIYd4Uhbl/eChgDoWHEAZP+t43PmSPPscrW3AQcE5A7qFfNoq+9t6l6NJ8NQuCzOYiet7lyF2Ys12QVjCChYA3rL+Ltgtv/r6HMl6lKfsFJIEPvVMS9FG/gDIjOKkD9ucEkajq8oeQpTC3dLdVx9IJiEmhxdHDhORWw8IEYCajfnYhEL6XAN49MYVipKY5VSuALBg/vquhJJ42wW+UzfooJn8pXSWIwgpOpY0UXh0z8BScqi+ni04wT3Di11QbsL1dqv8RezAptkGt5shBaWxFqht6isc/HGq07cOwZTR686q0BO3qIVFIJugDl2b/5B5aVInsfMREGwSaVkZgf6Zt03cUg/oX05gaEDLEQyCEqgGg9FRhZgGLif4yEdgrvuInu3phUGuhkfAmQqxLjEzcWTX9XCzABLVLiJQSKovSJUUvz0gsLWNs/Bbfl9TcCIMNaXY/h5LTRVSg0p18sFCzqcs5NklcSFG1xlsX9W+IH4FWWTUWt+z/FCU7P4wDGhrb7Da3C5teFLBI30aRXLZQs3R8iaHr2hFhZYEKo3736IS2VJchYZBNkE3XU1J6ZSY7DmEA+AAwX2mEr79uvSuWqVDNuO2lEv+754g7A2qNIIUXx5qLiUVdOkslbuQ8rXgE3pKOwvyW50O6kohMQPOEUuV1HZTMHT5ySXQSS26dZ2/TA1ip7m2KNcdRG5uxanOJwrTJCCcd25bZZjZ5LA3ljWU15hNZjsEb3wJMiMUebVyHJR2MFwaW4jst0cKtRJJNtj7ZClyX2iaJZVRFAB0WD+LsHU7gpetZFCgCIB5JB/wltelc24WRemDgBsley801AH6jZo9GbqfCjGPVqI71odTGN6bxOxLkfEnz4lYYPzx9lfTMzfpIR69hLtVnQUD+WVoJfw6UGxYenE1yRV/K0F4QseI3w0ls00sgIi/o66N1gHIKnsUv/LvCZHGr+yY3v5
  matrix:
    - TARGET: csharp
      SUBTARGET: ''
      VARIETY: net45_windows
    - TARGET: cpp_stl
      SUBTARGET: _98
      VARIETY: msvc141_windows_x64
      ARCH: x64
    - TARGET: cpp_stl
      SUBTARGET: _11
      VARIETY: msvc141_windows_x64
      ARCH: x64
    - TARGET: cpp_stl
      SUBTARGET: _98
      VARIETY: msvc141_windows_x86
      ARCH: x86
    - TARGET: cpp_stl
      SUBTARGET: _11
      VARIETY: msvc141_windows_x86
      ARCH: x86

# By default, at Appveyor, `sh.exe` points to `C:\Program Files\Git\usr\bin\sh.exe`, which is a Cygwin-based shell

# Install cygwin64's rsync:
# curl https://cygwin.com/setup-x86_64.exe --output setup-x86_64.exe
# setup-x86_64.exe -q -P rsync

install:
- cmd: >-
    choco install rsync

    refreshenv

    rsync --version

    git clone https://github.com/kaitai-io/kaitai_struct_tests tests

    move compiled tests

    sh prepare-%TARGET%
cache: c:\tools\vcpkg\installed\
build_script:
  - cmd: >-
      cd tests

      sh ci-%TARGET%%SUBTARGET%

      cd ..
deploy_script:
  - cmd: sh publish
artifacts:
  - path: tests\test_out\**
    name: test_out
  - path: tests\compiled\cpp_stl_98\bin\**
    name: cpp_stl_98_bin
  - path: tests\compiled\cpp_stl_11\bin\**
    name: cpp_stl_11_bin
