name: CI

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tsv:
          - target: csharp
            subtarget: ''
            variety: netcore2.2.103_linux
            dotnet: 2.2.103
          - target: csharp
            subtarget: ''
            variety: netcore3.0.100_linux
            dotnet: 3.0.100
    steps:
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"
      - uses: actions/checkout@v1
        with:
          submodules: 'true'
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{matrix.tsv.dotnet}}
        if: matrix.tsv.dotnet
      - uses: nuget/setup-nuget@v1
        with:
          nuget-version: '5.x'
      - name: GitHub Actions job_id parser
        uses: Tiryoh/gha-jobid-action@v0.0.3
        id: job_info
        with:
          github_token: ${{github.token}}
          job_name: ${{ format('{0} ({1}, {2}, {3})', github.job, matrix.tsv.target, matrix.tsv.variety, matrix.tsv.dotnet) }}
      - name: prepare
        run: |
          git clone https://github.com/kaitai-io/kaitai_struct_tests tests
          ln -s ../compiled tests/compiled
          ./prepare-${{matrix.tsv.target}}
      - name: run
        env:
          GH_JOB_ID: ${{steps.job_info.outputs.job_id}}
          GH_HTML_URL: ${{steps.job_info.outputs.html_url}}
        run: |
          cd tests
          ./ci-${{matrix.tsv.target}}
          cd ..
      - name: publish
        env:
          BOT_SSH_KEY: ${{secrets.BOT_SSH_KEY}}
          TARGET: ${{matrix.tsv.target}}
          VARIETY: ${{matrix.tsv.variety}}
        run: |
          ./push-artifacts/git-config-kaitai-bot
          ./push-artifacts/publish -o kaitai-io -r ci_artifacts -b "$TARGET$SUBTARGET/$VARIETY" -- --exclude=.git --exclude=.travis.yml tests/test_out
